/* General styles */
:root {
    --main-color: #212121;
    --first-title-color: #2196F3;
    --second-title-color: #000000;
    --background-color: #FFFFFF;
    --background-color-hero: #2F303A;
    --benefits-color: #757575;
    --button-color: #F5F4FA;
}

h1,
h2,
h3
p {
    margin: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);        
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    text-decoration: none;
}

.logo-web {
    color: var(--first-title-color); 
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* Header styles */
.header-list {
    display: flex;
    
}
.header-nav {
    margin-left: 93px;
}
.header-list .header-list-item {
    
    margin-right: 50px;    
}
.header-list .header-list-item:last-child {
    margin-right: 0;
}
.header-contacts {
    display: flex;

    padding-top: 32px;
    padding-bottom: 32px;
}
.header-contacts {
    margin-left: auto;
}
.header-list-contact + .header-list-contact{
   margin-left: 50px; 
   }
.header-list-contact {
    display: flex;
    align-items: center;
}
.header-list-contact .icon-envelope {
    margin-right: 10px;
    fill: var(--benefits-color) 
}
 
.header .header-list-contact:hover .icon {
    fill: #2196F3;
    
} 

.header-container {
    display: flex;
    align-items: center;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--first-title-color);}

.header-link .icon-envelope:hover {
    fill: #2196F3;
}
.header {
    border-bottom: 1px solid #EEEEEE;
}


/* Hero styles */

.hero-title {
    padding-top: 200px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}
.hero {
    background: var(--background-color-hero);
    display: block;
    text-align: center;    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    
}
.hero-button {
    margin-top: 30px;
    margin-bottom: 200px;
    color: var(--background-color);
    background: var(--first-title-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}
.benefits-list {
    display: flex;
}
.benefits-list .benefits-list-item:not(:last-child) {
    margin-right: 30px;
}
.benefits-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}
.benefits-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--benefits-color);
}
.benefits-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}
.our-work {
    padding-top: 0;
}
.our-work-title {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.our-work-list {
    display: flex;
    justify-content: center;
}

.our-team {
    background-color: #F5F4FA;
}

.our-team-item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    
}
.our-work-item:not(:last-child) {
    margin-right: 30px;
}
.our-team-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.our-team-item:not(:last-child) {
    margin-right: 30px;
}
.our-team-title {
    font-family: 'Roboto';
    font-weight: 700;
    line-height: calc(42/36);
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-color);
}
.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    margin-top: 50px;
    text-align: center;
    color: var(--main-color);
}
.social-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-item {
    width: 44px;
    height: 44px;
    background-color: var(--background-color);
    margin-top: 16px;
    border-radius: 50%;
    margin-bottom: 30px;
    
}
.social-item:not(:last-child) {
margin-right: 10px;
}
.social-icon {
    fill: #AFB1B8;
}
.social-icons-list .social-item:hover .social-icon {
        fill: #FFFFFF;
}
.social-item:hover {
    background-color: #2196F3;
}

.social-link { 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-position {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--benefits-color);
}

.regular-customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.regular-customers-list {
    display: flex;
    align-items: center;
    justify-items: center;
}
.regular-customers-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
    margin-top: 50px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}
.regular-customers-item:last-child {
    margin-right: 0;
}
.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customers-icon {
    fill: #AFB1B8;
}
.regular-customers-item:hover {
    border: 1px solid var(--first-title-color);
    border-radius: 4px;
}
.regular-customers-item:hover .customers-icon {
fill: var(--first-title-color);

}
/*футер*/

.footer {
    background: var(--background-color-hero);
}
.address {
    font-style: normal;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        color: var(--background-color);
}
.footer-link {
    font-style: normal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.logo-web-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--first-title-color);
}
.logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26) ;
    letter-spacing: 0.03em;
    color: var(--background-color);
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--first-title-color)
}
.address {
    margin-top: 20px;
}
.work-button {
        color: var(--main-color);
        background: var(--button-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        text-align: center;
        letter-spacing: 0.03em;
}
.work-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.work-list-item:not(:last-child) {
    margin-right: 8px;
}
.work-button {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: transparent;
}

.work-button:hover,
.work-button:focus {
    background: var(--first-title-color);
    color: var(--background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list-title {
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--main-color);
}
.examples-list-text {
    margin-left: 24px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--benefits-color);
}
.button {
    cursor: pointer;
}
.current {
    color: var(--first-title-color);
}
.examples-list {
    display: flex;
    flex-wrap: wrap;
    
}
.examples-list-item:nth-child(3n) {
    margin-right: 0;
}
.examples-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.examples-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}
.examples {
    margin-top: -4px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.examples-list-item:hover,
.examples-list-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}
.social-footer-item {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 16px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.social-footer-item:not(:last-child) {
    margin-right: 10px;
}
.footer-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-footer-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-footer-icon {
    fill: var(--background-color);
}
.social-footer-item:hover {
    background-color: #2196F3;
}
.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer>.container {
    display: flex;
    align-items: baseline;
}
.footer-adress {
    margin-right: 70px;
}